.highlight-date-class {
  background: orange !important;
  border-radius: 100%;
}
.mat-calendar-body-label:not(:last-of-type) {
  visibility: hidden;
}

.mat-calendar-body-label:last-of-type {
  display: none;
}
.date-sunday {
  &.highlight-date-class > span {
    background-color: unset;
  }
  > span {
    color: darkred !important;
    background-color: navajowhite;
  }
}
.date-bottom {
  background: linear-gradient(
      to left,
      rgba(92, 7, 52, 1) 0%,
      rgba(255, 93, 177, 1) 100%
    )
    right bottom no-repeat !important;
  background-size: 40% 5px !important;
}
