.cal-basic {
  &::ng-deep .highlight-date-class {
    background: #f7e0bb !important;
    border-radius: 100%;
    > span {
      color: #404040 !important;
    }
  }
  &::ng-deep .mat-calendar-body-label:not(:last-of-type) {
    visibility: hidden;
  }

  &::ng-deep .mat-calendar-body-label:last-of-type {
    display: none;
  }
  &::ng-deep .date-sunday {
    &.highlight-date-class > span {
      color: darkred !important;
    }
    > span {
      color: #ffa0a0 !important;
    }
  }
  &::ng-deep .date-bottom {
    &.date-two-entries {
      @extend %two-entries;
    }
    &.date-one-entry {
      @extend %one-entry;
    }
  }
}

%two-entries {
  background-image:
    linear-gradient(to left, rgb(239, 187, 32) 0%, rgb(224, 121, 31) 100%),
    /* dummy to have transparent (opaque) filler */
      linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%),
    linear-gradient(
      to right,
      rgb(197, 165, 0) 0%,
      rgb(239, 187, 32) 100%
    ) !important;
  background-position:
    left 10% bottom,
    center bottom,
    right 10% bottom !important;
  background-repeat: no-repeat;
  background-size: 35% 25% !important;
}
%one-entry {
  background-image: linear-gradient(
    to left,
    rgb(239, 187, 32) 0%,
    rgb(224, 121, 31) 100%
  ) !important;
  background-position: center bottom !important;
  background-repeat: no-repeat;
  background-size: 60% 25% !important;
}
