@use '@angular/material' as mat;
@import 'styles_angular_material_mdc_adapt.scss';

/* used in the edit-item-dialog.component.html, DownloadComponent */

$brd-rad: calc(var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px)));

mat-button-toggle-group:not(:first-of-type) {
	margin: 0 var(--documat-button-margins);
}

.leftround {
	border-radius: $brd-rad 0 0 $brd-rad;
}
.rightround {
	border-radius: 0 $brd-rad $brd-rad 0;
	& ::ng-deep .mat-button-toggle-label-content {
		padding: 0 8px;
	}
}

.mat-button-toggle {
	@include documat-color(mat-btn-toggle, standard);

	font-weight: mat.font-weight($app-typography, button);
	font-size: mat.font-size($app-typography, button);
	font-family: mat.font-family($app-typography);
}
.mat-button-toggle-disabled {
	background-color: map-get($documat-theme, mat-btn-toggle, standard, disabled);
}

.mat-button-toggle-checked {
	background-color: map-get($documat-theme, mat-btn-toggle, standard, checked);
}
.mat-button-toggle-checked.mat-button-toggle-disabled {
	background-color: map-get($documat-theme, mat-btn-toggle, standard, disabled);
}
.mat-button-toggle.purple {
	background-color: map-get($documat-theme, mat-btn-toggle, purple, backColor);
}
.mat-button-toggle-disabled.purple {
	background-color: map-get($documat-theme, mat-btn-toggle, purple, disabled);
}
.mat-button-toggle-checked.purple {
	background-color: map-get($documat-theme, mat-btn-toggle, purple, checked);
}
.mat-button-toggle-checked.purple.mat-button-toggle-disabled {
	background-color: map-get($documat-theme, mat-btn-toggle, purple, disabled);
}
