/*
 * Default styles 
*/

@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**
  * Platz zwischen linken und rechten Buttons in der Fußzeile
  * Wird für Statustext benutzt
  */
.spacer {
  flex: 1 1 auto;
}

/* for debugging: encapsulate the JSON into a <pre> tag and the make sure it overflows */
pre {
  overflow: auto;
  background-color: mat.m2-get-color-from-palette(theme_color_paletts.$limePalette, 600);
  border-radius: 4px;
  border-style: inset;
  margin-inline: 8px;
}
/*
 TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. 
*/
.mat-mdc-tab-body.mat-mdc-tab-body-active {
  opacity: 1;
  animation: fade-in 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* End Transition effects */

/* Class for matTooltipClass needs to be defined in the global style (otherwise it won't be used)*/
.red-tooltip {
  background-color: red !important;
  font-size: larger !important;
}
.title-tooltip {
  background-color: mat.m2-get-color-from-palette(
    theme_color_paletts.$greyPalette,
    600,
    30
  ) !important;
  font-size: 14px !important;
}

/* mat-icons to disable */
.icon-disabled:hover {
  cursor: not-allowed;
  background: unset;
}

.icon-disabled:active {
  pointer-events: none;
}

.icon-disabled {
  filter: opacity(0.5);
}
