@use "@angular/material" as mat;
@use "sass:map";
@import "theme.scss";
@import "styles_angular_material.scss";

:root {
  /* Letter spacing for labels in MatButtons */
  --mdc-typography-button-letter-spacing: "normal";
}

/* START: Colors */
$standardForecolor: black;
$standardBackcolor: white;

/* set the colors from the documat theme  - extract back- and foreground colors from the and apply */
@mixin fillColor($colorMap) {
  background-color: map-get($colorMap, backColor);
  color: map-get($colorMap, foreColor);
}
@mixin fillColorImportant($colorMap) {
  background-color: map-get($colorMap, backColor) !important;
  color: map-get($colorMap, foreColor) !important;
}
