/*
 * Generic style with attributes used in ALL tables 
*/
@import './styles_angular_material_mdc_adapt.scss';

table {
	border-bottom: map-get($documat-theme, border, basic);
	border-collapse: collapse;
	width: 100%;

	.highlight,
	.mat-mdc-row:nth-child(odd).highlight {
		@include documat-color(table, standard, highlight);
	}
	.mat-mdc-row:nth-child(odd) {
		@include documat-color(table, standard, odd-child);
	}
	.mat-mdc-row:hover {
		cursor: pointer;
		@include fillColorImportant(map-get($documat-theme, table, hover));
		&:nth-child(odd) {
			@include fillColorImportant(map-get($documat-theme, table, hover, odd-child));
		}
		&.highlight {
			@include fillColorImportant(map-get($documat-theme, table, hover, highlight));
		}
	}
}
