@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

:host {
  display: flex;
  background-color: mat.m2-get-color-from-palette(theme_color_paletts.$bluegrayPalette, 200);
}
.btn-display-details {
  padding: 8px;
  display: flex;
  flex: auto;
  flex-flow: column;
  gap: 4px;
  max-width: 350px;
}
.mat-save {
  background-color: mat.m2-get-color-from-palette(theme_color_paletts.$limePalette, 300);
}
