@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

:host {
  display: flex;
  background-color: mat.get-color-from-palette($bluegrayPalette, 200);
}
.btn-display-details {
  padding: 8px;
  display: flex;
  flex: auto;
  flex-flow: column;
  gap: 4px;
  max-width: 350px;
}
.mat-save {
  background-color: mat.get-color-from-palette($limePalette, 300);
}
