@if (calendarStore.displayDate()) {
  <div class="btn-display-details">
    <button mat-flat-button (click)="openDialog('en')" color="primary">
      Open - englisch
    </button>
    <button mat-flat-button (click)="openDialog('de')" color="warn">
      <span> Öffne - deutsch </span>
    </button>
    <!-- das disabled attribute wird leider falsch ausgewertet => Ursache etwas unklar -->
    <button
      mat-stroked-button
      [disabled]="calendarStore.getFormError()"
      (click)="saveChanges()"
      color="save"
    >
      <span>Speichern</span>
    </button>
  </div>
} @else {
  <p>Bitte eine Datum auswählen</p>
}
