@use '@angular/material' as mat;
@import 'src/styles-global/styles_angular_material_mdc_adapt.scss';

.msg-snack {
	background-color: mat.get-color-from-palette($limePalette, 100);
}
.error {
	color: mat.get-color-from-palette($redPalette, 900);
	font-weight: bolder;
}

.content {
	margin-block-end: 0px;
	white-space: pre-line;
}
