@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

.msg-snack {
  background-color: mat.m2-get-color-from-palette(theme_color_paletts.$limePalette, 100);
}
.error {
  color: mat.m2-get-color-from-palette(theme_color_paletts.$redPalette, 900);
  font-weight: bolder;
}

.content {
  margin-block-end: 0px;
  white-space: pre-line;
}
