<div mat-dialog-title class="reduce-lineheight">
  <span>{{ data.selDate | date: "mediumDate" }}</span>
  <ng-container *ngIf="data.events.length === 1">
    <app-time-formatter
      [startTime]="data.events[0]?.startTime"
      [endTime]="data.events[0]?.endTime"
    />
  </ng-container>
</div>
<div mat-dialog-content>
  <div class="description" [innerHTML]="data.events[0]?.description"></div>
  <ng-container *ngIf="data.events[0]?.link">
    <ng-container *ngIf="data.events[0]?.linkType === 'zoom'">
      <div>
        <span>Zoom link: </span>
        <a target="_blank" href="{{ data.events[0]?.link }}"
          >{{ data.events[0]?.link }}
        </a>
      </div>
    </ng-container>
  </ng-container>
</div>
