@use "@angular/material" as mat;
@import "/src/styles-global/styles_angular_material_mdc_adapt.scss";
@import "/src/styles-global/theme.scss";

.description {
  overflow: auto;
}
.title {
  font-size: large;
  color: mat.get-color-from-palette($amberPalette, 300);
  padding-block-end: 8px;
  text-align: center;
}
a {
  color: mat.get-color-from-palette($primaryPalette, 200);
}
app-time-formatter {
  font-size: smaller;
  display: block;
}
.reduce-lineheight {
  line-height: 25px;
}
