<div mat-dialog-title class="reduce-lineheight">
  <span>Datum: </span>
  <span>{{ data.selDate | date: "mediumDate" }}</span>
</div>
<div mat-dialog-content>
  <!-- loop over all events -->
  <ng-container *ngFor="let curEvent of data.events">
    <div class="title">{{ curEvent.title }}</div>
    <app-time-formatter
      class="subtitle"
      [startTime]="curEvent.startTime"
      [endTime]="curEvent.endTime"
    />
    <div class="description" [innerHTML]="curEvent.description"></div>
    <app-link-details [curEvent]="curEvent" />
  </ng-container>
</div>
