@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

.description {
  overflow: auto;
}
.title {
  font-size: large;
  color: mat.get-color-from-palette($amberPalette, 300);
  text-align: center;
}
.subtitle {
  display: block;
  color: mat.get-color-from-palette($amberPalette, 300);
  padding-block-end: 8px;
  text-align: center;
  transform: scale(0.9);
}
.reduce-lineheight {
  line-height: 25px;
}
div .title:not(:first-of-type) {
  padding-block-start: 8px;
}
