<div mat-dialog-title class="reduce-lineheight">
  <span>Datum: </span>
  <span>{{ data.selDate | date: "mediumDate" }}</span>
</div>
<div mat-dialog-content>
  <!-- loop over all events -->
  @for (curEvent of data.events; track curEvent) {
    <div class="title">{{ curEvent.title }}</div>
    <app-time-formatter
      class="subtitle"
      [startTime]="curEvent.startTime"
      [endTime]="curEvent.endTime"
      />
    <div class="description" [innerHTML]="curEvent.description"></div>
    <app-link-details [curEvent]="curEvent" />
  }
</div>
