@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

.description {
  overflow: auto;
  hyphens: auto;
  /* required for Wordpress */
  &::ng-deep p {
    font-size: inherit;
  }
}
.title {
  font-size: large;
  color: mat.m2-get-color-from-palette(theme_color_paletts.$amberPalette, 300);
  text-align: center;
}
.subtitle {
  display: block;
  color: mat.m2-get-color-from-palette(theme_color_paletts.$amberPalette, 300);
  padding-block-end: 8px;
  text-align: center;
  transform: scale(0.9);
}
.reduce-lineheight {
  line-height: 25px;
  display: flex;
  justify-content: center;
  color: mat.m2-get-color-from-palette(theme_color_paletts.$amberPalette, 50);
  align-items: flex-end;
}
div .title:not(:first-of-type) {
  padding-block-start: 8px;
}
