@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

.info-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 8px;
  width: 50%;
}
.load-info {
  display: flex;
  & .stat-error {
    background-color: mat.get-color-from-palette($redPalette, 400);
  }
}
