@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

.info-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 8px;
  width: 50%;
}

mat-tab-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}
