<app-cal-short-code>
  @if (calendarStore.useConfigInterface()) {
    <div class="info-btn">
      <div class="load-info">
        Zeit - laden: <i>{{ calendarStore.loadingTime() }} </i> ms
      </div>
      <div class="load-info">
        Zeit - speichern: <i>{{ calendarStore.savingTime() }} </i> ms
      </div>
      <div class="load-info">
        <span [ngClass]="{ 'stat-error': calendarStore.hasErrors() }">
          Status:
        </span>
        @if (calendarStore.hasErrors()) {
          <mat-icon class="stat-error">report</mat-icon>
        }
        <i>{{ calendarStore.status() }} </i>
      </div>
      <app-cal-button-details />
    </div>
  }
</app-cal-short-code>

@if (calendarStore.useConfigInterface()) {
  <app-cal-config />
}
