:host{
	display: flex;
}
.highlight-date-class {
  background: orange!important;
  border-radius: 100%;
}
 .mat-calendar-body-label:not(:last-of-type) {
        visibility: hidden;
    }

    .mat-calendar-body-label:last-of-type {
        display: none;
    }