@if (calendarStore.displayDate()) {
  <form [formGroup]="calConfigDetForm">
    <div class="date-container">
      <div class="header-date">
        <span>Ausgewähltes Datum </span>
        <span class="header-date-det">{{
          calendarStore.displayDate() | date: "mediumDate"
        }}</span>
      </div>
      @for (
        timeConf of calendarStore.lstOfConfigDetailsPerDay();
        track timeConf
      ) {
        <app-cal-time-config [timeConf]="timeConf" />
      } @empty {
        <div class="no-data">
          <p>Keine Daten gefunden</p>
          <p>
            <button mat-raised-button (click)="addEvent()" color="primary">
              Hinzufügen
            </button>
          </p>
        </div>
      }
    </div>
  </form>
}
