@if (calendarStore.displayDate()) {
  <form [formGroup]="calConfigDetForm">
    <div class="date-container">
      <div class="header-date">
        <span>Ausgewähltes Datum </span>
        <span class="header-date-det">{{
          calendarStore.displayDate() | date: "mediumDate"
        }}</span>
      </div>
      @for (
        timeConf of calendarStore.lstOfConfigDetailsPerDay();
        track timeConf
      ) {
        <app-cal-time-config [timeConf]="timeConf" />
      } @empty {
        <p class="no-data">Keine Daten gefunden</p>
      }
    </div>
  </form>
}
