@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.cal-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  & .calInfo {
    width: 100%;
  }
}
.col-left {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}
.col-right {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 8px;
  background-color: mat.m2-get-color-from-palette($bluegrayPalette, 900);
}
input {
  /* for input fields like time fields*/
  background-color: inherit;
}
.lang-label {
  color: mat.m2-get-contrast-color-from-palette($bluegrayPalette, 900);
}
