@use "@angular/material" as mat;
@import "/src/styles-global/theme.scss";

h2.title {
  color: mat.get-color-from-palette($amberPalette, 300);
  background-color: mat.get-color-from-palette($bluegrayPalette, 600);
  text-align: center;
}
p {
  font-size: inherit;
}
