@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

h2.title {
  color: mat.m2-get-color-from-palette(theme_color_paletts.$amberPalette, 300);
  background-color: mat.m2-get-color-from-palette(theme_color_paletts.$bluegrayPalette, 600);
  text-align: center;
}
p {
  font-size: inherit;
}
