@use "@angular/material" as mat;
@use 'theme_color_paletts.scss';

:host {
  display: flex;
  border: 2px outset mat.m2-get-color-from-palette(theme_color_paletts.$purplePalette, 500);
  border-radius: 4px;
  max-width: 250px;
  width: 100%;
  margin-block: 8px;
  justify-content: center;
  align-items: center;

  & .stat-error {
    background-color: mat.m2-get-color-from-palette(theme_color_paletts.$redPalette, 400);
  }
}
mat-icon {
  padding-inline-end: 4px;
}
